<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942335765739-6kg13acbgp1m3pj8j3or7krc0v6vqpcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942335765739-6kg13acbgp1m3pj8j3or7krc0v6vqpcd</string>
	<key>API_KEY</key>
	<string>AIzaSyAWSsa2USniuvdYhvLMl7iEkPN4_dgx2tw</string>
	<key>GCM_SENDER_ID</key>
	<string>942335765739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.IOS-Assignment</string>
	<key>PROJECT_ID</key>
	<string>iosassignment-dcc26</string>
	<key>STORAGE_BUCKET</key>
	<string>iosassignment-dcc26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942335765739:ios:e6beba8151d5cf2f48e2ae</string>
</dict>
</plist>